@import '../../../main.styles.scss';

.root {
  display: flex;
  width: 100%;
}

.budget-item {
  display: flex;
  width: 100%;
  background-color: $light-grey;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

  .description {
    display: flex;
    flex-grow: 1;
    font-size: 20px;
    margin-left: 5px;

    // Vertically center the children elements
    align-items: center;
  }

  .amount {
    padding: 5px;
    border-radius: 3px;
  }
}

.income {
  p {
    color: $green;
  }

  .amount {
    background-color: $light-green;
  }
}

.expense {
  p {
    color: $red;
  }

  .amount {
    background-color: $light-red;
  }
}
